@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Mulish:wght@300;400&display=swap');

.fatext {
    
    font-size: 2rem;
    position: relative; 
    font-family: "Libre Baskerville", serif;
    line-height: 1.6;
    text-align: center;
}